@font-face {
        font-family: 'versaversa';
        src: url('fonts/versa-versa-webfont.woff2') format('woff2'),
            url('fonts/versa-versa-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }


body	{

		font-family: 'versaversa';
		background-image: url("background.jpg" );
		background-repeat: no-repeat;
		background-size: cover;
		color: black;
		width: 70%;
		margin: auto;

}

form	{

		padding: 8px;
		background-color: whitesmoke;
		border: 2px solid darkgreen;
}

h1		{

		color: darkgreen;
		background-color: lightgreen;
		text-align: center;
		border: 2px solid darkgreen;
		padding: 4px;
		margin-top: 0px;
		margin-bottom: 0px;
		
}

h2	{


		font-size: 16px;
		text-shadow: darkgrey;
		color: black;
		text-align: center;
		vertical-align: middle;
		padding: 2px;
		margin-top: 0px;
		
}

label	{

		display: inline-block;
		position: absolute;
		float: left;

}

input,select	{

		display: inline-block;
		position: relative;
		float: right;
}

.separador	{

		width: 90%;
		height: 5px;
		margin:  auto;
		background-color: darkgrey;

}

.boton_final	{
		width: 80px;
		margin: 20px;
		text-align: center;

}

#condiciones	{
		display: block;
		float: right;

}

#faltaArticulo	{

		font-size: 12px;
		color: red;
		padding: 4px;
		border: 1px solid red;
		margin-left: 9%;
		visibility: hidden;
}

#faltaPrecio	{

		font-size: 12px;
		color: red;
		padding: 4px;
		border: 1px solid red;
		margin-left: 9%;
		visibility: hidden;
}


.grid-container	{

		display:  grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 5px;
		width: 80%;
		margin: auto;
		margin-top: 7%;
}
 
.grid-1	{

		width: 100%;
		opacity: 0.8;

}

.grid-2	{

		width: 100%;
		border: 3px dotted seagreen;
		background-color: white;
		opacity: 0.8;

}
.botones	{

		margin: auto;
		width: 50%;

}

.conceptos	{

		height: 20px;
		width: auto;

}






