@font-face {
        font-family: 'versaversa';
        src: url('fonts/versa-versa-webfont.woff2') format('woff2'),
            url('fonts/versa-versa-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }


body	{

		font-family: 'versaversa';
		background-image: url("background.jpg" );
		background-repeat: no-repeat;
		background-size: cover;
		color: black;
		width: 70%;
		height: auto;
		margin: auto;

}

form	{

		height: auto;
		padding: 8px;
		background-color: darkslategrey;
		border: 2px solid darkgreen;
		border-radius: 25px;
}

h1		{

		color: darkgreen;
		background-color: lightgreen;
		text-align: center;
		border: 2px solid darkgreen;
		border-radius: 25px;
		padding: 4px;
		margin-top: 0px;
		margin-bottom: 0px;
		
}

h2	{


		font-size: 16px;
		text-shadow: darkgrey;
		color: black;
		text-align: center;
		vertical-align: middle;
		padding: 2px;
		margin-top: 0px;
		
}

label	{
		color: white;
		display: inline-block;
		position: absolute;
		float: left;

}

input,select	{

		display: inline-block;
		position: relative;
		float: right;
		border-radius: 5px;
		color: black;
		width: 120px;
}

table	{

	column-width: 5px;
	padding: 3px;
	width: 100%;

}

tr	{

	color: rgb(0, 0, 0);
	background-color: rgb(179, 233, 179);
	
}

td {
height: 5px;
width: 10px;
color: black;
background-color: white;
text-align: center;
vertical-align: middle;
}

.separador	{

		width: 90%;
		height: 5px;
		margin:  auto;
		background-color: darkgrey;

}

#articulo, #articulosCarrito {

		width: 200px;
}

#pvp, #cantidad, #totalCompra {

	width: 50px;

}

#botonSumar		{

		color: black;

}

#botonReset		{

		color: black;
		width: 30%;
		height: 15%;
		margin: auto;

}

#botonImprimir		{

		color: black;
		width: 30%;
		height: 15%;
		margin: auto;

}

#condiciones	{
		display: block;
		float: right;

}

.botones {

		display: flex;
		width: 30%;
		margin: auto;

}

.warning {

		font-size: 12px;
		color: red;
		padding: 4px;
		border: 1px solid red;
		margin-left: 9%;
		visibility: hidden;
}

.cuadroPago {

		visibility: hidden;

}
.grid-container	{

		display:  grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 5px;
		width: 80%;
		margin: auto;
		margin-top: 7%;
		margin-bottom: 2%;
}
 
.grid-1	{

		width: 100%;
		opacity: 0.8;

}

.grid-2	{

		max-width: 400px;
		border: 3px dotted seagreen;
		background-color: white;
		opacity: 0.8;

}









